<!doctype html>

<html lang="en">

  	<body>
  	<head>
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  	</head>
	  	<form>
			<button class="btn btn-success" formaction="{{ url_for('main')}}">Home</button>
		</form>
  		<div class="panel panel-default">
	  		<div class="table-responsive">
	  			<div class="panel-heading"><h2>{{data[1]}}</h2></div>
		  		<table class="table">
		  			<tr>
		  				<th>TEAMS</th>
		  				<th>GAMES</th>
		  				<th>WINS</th>
		  				<th>LOSSES</th>
		  				<th>DRAWS</th>
		  				<th>GOALS SCORED</th>
		  				<th>GOALS CONCEDED</th>
		  				<th>GOAL DIFFERENCE</th>
		  				<th>POINTS</th>
		  			</tr>
				  	{% for i in data[0] %}
					<tr>
				    	<td>{{ i[0] }}</td>
				    	{% for h in i[1] %}
				    	<td>{{ h }}</td>
				    	{% endfor %}
				  	</tr>
				  	{% endfor %}
				</table>
			</div>
		</div>
		<div class="panel panel-default">
	  		<div class="table-responsive">
	  			<div class="panel-heading"><h2>{{data[3]}}</h2></div>
		  		<table class="table">
		  			<tr>
		  				<th>REFEREE</th>
		  				<th>NUMBER OF FOULS GIVEN</th>
		  				<th>NUMBER OF YELLOW CARDS GIVEN</th>
		  				<th>NUMBER OG RED CARDS GIVEN</th>
		  			</tr>
				  	{% for i in data[2] %}
					<tr>
				    	<td>{{ i[0] }}</td>
				    	{% for h in i[1] %}
				    	<td>{{ h }}</td>
				    	{% endfor %}
				  	</tr>
				  	{% endfor %}
				</table>
			</div>
		</div>
  	</body>
</html>

